@import "../mixins.scss";
@import "../globals.scss";

ul {
    display: grid;
    gap: 10px;
}

a {
    color: white;
}

.footer {
    display: grid;
    color: #ffffff;

    .call-to-suscribe {
        padding: 50px 10px;
        @include flex($justify: center, $gap: 40px);
        background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;

        @include custom-screen(978px) {
            flex-wrap: wrap;
            align-items: center;
        }

        h3 {
            @include font($size: 18px, $weight: 600, $height: 20px);
            text-transform: uppercase;
        }

        .send-email {
            form {
                background-color: white;
                border-radius: 83px;
                padding: 4px;

                @include small-screen {
                    @include flex($justify: center, $direction: column);
                }

                input {
                    border: 0;
                    padding: 10px 20px;
                    background-color: transparent;
                    color: black;
                    width: 300px;
                    font-family: map-get($map: $fonts, $key: "font-1");
                    outline: none;
                    @include font($size: 16px);

                    &::placeholder {
                        @include font($size: 16px);
                    }
                }

                button {
                    background-color: #312dcc;
                    padding: 12px 23px;
                    color: rgb(255, 255, 255);
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all 200ms;
                    @include font($size: 14px);

                    &:hover {
                        background-color: #231fa0;
                    }
                }
            }
        }
    }

    .content {
        @include flex($justify: space-evenly, $align: flex-start);
        background-color: #182b36;
        width: 100%;
        padding: 5rem 4rem;
        position: relative;
        display: grid;
        align-items: flex-start;
        gap: 100px;
        grid-template-columns: repeat(3, 1fr);

        @include custom-screen(978px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        .image-logo {
            left: -160px;
            top: 20px;
            height: 300px;
            opacity: 0.03;
            pointer-events: none;
            position: absolute;
        }

        .logo {
            @include flex($direction: column, $align: flex-start);
            gap: 12px;

            .icon {
                @include flex($gap:8px);

                img {
                    width: 48px;
                }

                h4 {
                    font-family: "Krub";
                }
            }

            .text {
                @include font($size: small);
                color: #ffffff;
                margin-bottom: 0;

                @include small-screen {
                    padding: 20px;
                }
            }

            .email {
                @include font($size: small);
                color: #312dcc;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .links {
            @include flex($justify: space-between, $gap: 35px, $align: flex-start);

            @include small-screen {
                flex-wrap: wrap;
                justify-content: center;
            }

            div {
                min-width: 160px;
                @include flex($direction: column, $align: flex-start);

                @include custom-screen(978px) {
                    @include flex($direction: column, $align: flex-start);
                }

                h5 {
                    padding-bottom: 10px;
                }

                ul {
                    li {
                        a {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .follow {
            @include custom-screen(978px) {
                @include flex($direction: column);
            }

            h5 {
                padding-bottom: 20px;
            }

            .icons {
                @include flex($gap: 15px);
            }
        }
    }

    .footer-legals {
        @include flex($justify: space-between, $wrap: wrap, $gap: 30px);
        background-color: yellow;
        padding: 30px 78px;
        width: 100%;
        background-color: #0f2027;

        @include custom-screen(740px) {
            justify-content: center;
        }

        .terms {
            @include flex($gap: 20px);

            a {
                @include font($size: 14px, $weight: 700);
                color: white;
                text-transform: uppercase;
                transition: all 250ms ease-in;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .copyright-short {
            color: #fff;
            margin-bottom: 0;
            @include font($size: 14px);
            opacity: .25;
            pointer-events: none;
        }
    }
}