@import "../mixins.scss";

$bg-base: #d7ebe2;
$bg-active: #1A7048;
$bg-hover: #0E693E;
$box-shadow: 9px 6px 36px 0px rgba(0, 0, 0, 0.25);

.nav-bar {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: all 400ms;
    background-color: #12131500;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);

    padding: 0px 70px;

    @include small-screen {
        padding: 0px 20px;
    }

    .logo {
        img {
            width: 100%;
        }

        @include custom-screen(680px) {
            display: none;
        }
    }

    .nav-links-list {
        display: block;
        padding: 0;
        display: flex;
        gap: 20px;
        transition: all 400ms;

        @include custom-screen(680px) {
            display: none;
        }

        .link {
            @include font();

            // text-transform: uppercase;
            transition: all 400ms;

            &:hover {
                color: $bg-hover;
            }
        }

        .active {
            color: $bg-active;
        }
    }

    .nav-logo {
        display: none;

        img {
            width: 100%;
        }

        @include custom-screen(680px) {
            display: block;
        }
    }

    .selector {
        box-sizing: border-box;
        color: white;
        position: relative;
        transition: all 400ms;
        padding: 10px;
        border-radius: 5px;

        .selector-button {
            display: flex;
            cursor: pointer;
            gap: 10px;
            align-items: center;

            .arrow {
                transition: all 400ms;
            }

            p {
                margin: 0;
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include custom-screen(680px) {
                p {
                    display: none;
                }
            }
        }

        .arrow-up {
            transform: rotate(180deg);
        }

        .options {
            display: none;
            opacity: 0.0;
            right: 0;
            position: absolute;
            display: grid;
            margin: 0;
            list-style-type: none;
            background-color: #121315;
            border-radius: 5px;
            box-shadow: $box-shadow;
            backdrop-filter: blur(20);
            transition: all 400ms;
            transform: translateY(-20px);
            padding: 0;

            @include custom-screen(680px) {
                left: 0;
                width: 150px;
            }

            .option {
                display: flex;
                gap: 10px;
                padding: 10px;
                border-radius: 5px;
                transition: all 400ms;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #3c3f45;
                }

                p {
                    margin: 0;
                }
            }
        }

        .expanded {
            display: block;
            opacity: 1.0;
            transform: translateY(25px);
        }

        &:hover {
            background-color: #3c3f45;
        }

        &:active {
            transform: scale(0.88);
            background-color: #3c3f45;
        }
    }

    .side-bar {
        display: none;

        @include custom-screen(680px) {
            display: block;
        }

        .nav-side-bar-button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 25px;
            width: 62px;

            &:hover {
                color: $bg-hover;
            }
        }

        .open {
            transform: translateX(0%);
        }

        .nav-side-bar {
            position: relative;
            position: absolute;
            width: 300px;
            height: 100vh;
            right: 0;
            top: 0;
            z-index: 3;
            background-color: #121315f5;
            backdrop-filter: blur(20px);
            padding: 20px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 2px 20px rgba(128, 128, 128, 0.236);
            transform: translateX(100%);
            transition: all 400ms;

            .nav-side-bar-close-button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: rgba(240, 248, 255, 0);
                border: none;
                color: white;
                font-size: 25px;
                transition: color 400ms;
                width: 20px;
                height: 20px;

                i {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    color: $bg-hover;
                }

                &:active {
                    color: $bg-active;
                }
            }

            img {
                width: 50%;
            }

            .nav-side-bar-links-list {
                padding: 0px 5px;
                list-style-type: none;
                display: grid;
                margin: 0;
                width: 100%;
                gap: 10px;

                .nav-link {
                    padding: 20px 0px;
                    color: black;
                    transition: all 400ms;
                    width: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: Inter;
                    font-weight: 300;
                    color: #1a7048;
                    font-size: 15px;
                    text-align: center;
                    border-radius: 5px;

                    &:hover {
                        background-color: $bg-hover;
                        color: white;
                    }

                    &:active {
                        background-color: $bg-active;
                        color: white;
                    }
                }

                .active {
                    background-color: $bg-base;
                }
            }

            .credits {
                color: white;
            }
        }
    }
}