@import "../mixins.scss";

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    @include flex($align: center, $justify: space-between);
    padding: 16px 40px;

    .navbar-logo {
        width: 248px;
        height: 62px;
    }


    .nav-links {
        @include flex();

        .link {
            .a-link {

                p {
                    color: #6E747C;
                    margin-bottom: 0;
                    padding: 6px 20px;
                }

                &.active {

                    p {
                        transition: all 200ms ease-in-out;
                        color: #2F54EB;
                        border-bottom: 3px solid #2F54EB;
                    }
                }

                &:hover {
                    p {
                        color: #2F54EB;
                        transition: all 250ms ease-in-out;
                    }
                }
            }
        }
    }
}