@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "../css/mixins.scss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// Home page

main {
  font-family: "DM Sans";
  @include font($size: 16px, $spacing: 0.1px, $weight: 400);
  @include flex(
    $justify: flex-start,
    $align: flex-start,
    $direction: column,
    $gap: 70px
  );

  padding: 50px 0px 100px 0px;
  align-self: stretch;

    section {
        @include flex($justify: center,
            $align: center,
            $direction: column,
            $gap: 50px);
        padding: 0px 150px;
        align-self: stretch;

        @include large-screen() {
            padding: 0px 75px;
        }

        @include mid-screen() {
            padding: 0px 50px;
        }

        @include small-screen() {
            padding: 0px 30px;
        }

    div {
      .headline {
        h1.headline-title {
          font-family:  "Sofia Sans";
          @include font(
            $size: 48px,
            $weight: 600,
            $spacing: 0.04px
          );

                    @include large-screen() {
                        @include font($size: 36px);
                    }

          @include small-screen() {
            @include font($size: 24px);
          }
        }
        p.headline-description {
          font-family: "Krub";
          @include font(
            $size: 18px,
            $weight: 500,
            $spacing: 0.2px
          );
        }
      }
    }
  }

    .section-1 {
        @include flex($direction: row);

        @include large-screen() {
            flex-wrap: wrap;
        }

        .container {
            @include flex($direction: column, $gap: 50px);

            .headline {
                width: 100% !important;
            }

            ul.list-items {
                @include flex($direction: row, $gap: 27px);

                li {
                    // @include flex($align: center, $direction: column, $justify: space-between);
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 14px;

                    @include small-screen() {
                        @include flex($direction: column);
                    }

                    .item-icon {
                        background-color: map-get($map: $grays, $key: "50");
                        padding: 24px;
                        border-radius: 12px;
                        width: -moz-fit-content;
                        width: fit-content;
                    }

                    h5 {
                        color: #222222;
                        @include font(
                            $color: map-get($grays, "950"),
                            $size: 18px,
                            $height: 28px,
                            $weight: 600
                        );
                    }

                    p {
                        @include font($size: 14px);
                    }

                    a {
                        width: -moz-fit-content;
                        width: fit-content;
                        padding: 16px 24px;
                        border-radius: 50px;

                        @include font($color: map-get($violets, "500"), $size: 16px);
                        @include flex($gap: 10px);

                        transition: all 250ms ease-in-out;

                        &:hover {
                            background-color: map-get($map: $violets, $key: "500");
                            color: #fff !important;

                            .icon {
                                fill: #fff !important;
                            }
                        }
                    }

                }
            }
        }

        .shape {
            width: 100%;
            max-width: 588px;
            min-width: min(100%, 300px);
            height: auto;
        }
    }

    .section-2 {
        .container {
            ul.list-items {
                li.item {
                    @include small-screen() {
                        @include flex($direction: row);
                    }
                }
            }

            .play-video-button {
                @include flex($align: center, $gap: 15px);

                .icon {
                    @include flex($direction: column, $align: center);

                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    background: linear-gradient(219deg, #55a0e1 0%, #3b73e9 100%),
                        var(--White, #fff);

          p {
            font-family: "Inter";
            @include font(
              $size: 16px,
              $spacing: 0.1px,
              $height: 20px,
              $weight: 400,
              $color: map-get($colors, "gray")
            );
            align-self: center;
          }
        }
      }
    }
  }

    .section-3 {
        .content {
            @include flex($justify: center,
                $align: flex-start,
                $gap: 28px,
                $wrap: wrap);

            .empty {
                height: 511.831px;
                min-width: min(330px, 100%);
                max-width: 380px;
                flex: 1 0 0;
                border-radius: 36px;
                background: #d9d9d9;
            }

            .projects-preview {
                @include flex($justify: center,
                    $align: flex-start,
                    $gap: 28px,
                    $wrap: wrap);

                @include large-screen() {
                    overflow-x: auto;
                }
            }
        }
    }

    .banner-1 {
        width: 100%;
        padding: 75px 0px;
        background: #eff6fe;
        @include flex($justify: space-evenly,
            $align: center,
            $direction: row,
            $wrap: wrap,
            $gap: 50px 0);

        .item {
            @include flex($justify: center,
                $align: center,
                $direction: column,
                $wrap: wrap,
                $gap: 14px);

            min-width: 200px;
            max-width: 285px;

            img {
                width: 50px;
                height: 50px;
            }

      .stadistic {
        @include flex(
          $justify: center,
          $direction: column,
          $wrap: wrap,
          $gap: 14px
        );

        h1 {
          font-family: "Sofia Sans";
          color: #488ae6 !important;
          @include font($size: 36px, $weight: 700);
        }

        p {
          font-family: "Krub";
          @include font($size: 16px);
        }
      }
    }
  }

    .section-4 {
        @include flex($justify: center,
            $align: center,
            $direction: row,
            $wrap: wrap,
            $gap: 50px);

        ul.container {
            @include flex($justify: center,
                $align: flex-start,
                $direction: row,
                $wrap: wrap,
                $gap: 50px);

            li.item {
                @include flex($justify: flex-start,
                    $align: flex-start,
                    $direction: column,
                    $wrap: wrap,
                    $gap: 14px);

                .image {
                    @include flex($justify: center,
                        $align: center,
                        $direction: row,
                        $wrap: wrap,
                        $gap: 10px);

                    width: 80px;
                    height: 80px;
                    border-radius: 6px;
                    background: #d9f3ff;
                }

                .cont {
                    @include flex($justify: flex-start,
                        $align: flex-start,
                        $direction: column,
                        $wrap: wrap,
                        $gap: 6px);

          h4 {
            font-family:  "Sofia Sans";
            @include font(
              $size: 28px,
              $weight: 600,
              $color: #303b44
            );

                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        align-self: stretch;
                    }

          p {
            font-family: "Krub";
            @include font(
              $size: 16px,
              $weight: 400,
              $color: #6a6a6a
            );

                        align-self: stretch;
                        letter-spacing: 0.1px;
                    }
                }
            }
        }
    }
}

// About us page

// Services page

.services {
  font-family: "DM Sans";
  @include font($size: 12px, $spacing: 0.1px, $weight: 200);
 
  @include flex($justify: center, $direction: column, $gap: 20px);

  .container-services {
    color: green;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    .service {
      
      background-color: rgb(31, 6, 70);
      @include flex($justify: center, $wrap: wrap, $gap: 20px);
      padding: 1rem;
    }
  }

  .client-testimonials {
    @include font($spacing: 0.1px, $weight: 200);
    //   height: 600px;
   

    img {
      width: 100%;
    }
    //   background-image: url('/public/images/mountain.jpg');

    //   background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  .questions {
    font-family: "DM Sans";
    @include font($spacing: 0.1px, $weight: 200);
    @include flex($justify: space-evenly);
    width: 100%;
  }
}

// Contact us page
