@import '../mixins.scss';

.headline {
    @include flex($direction: column, $justify: center, $gap: 15px);
    max-width: 760px;
    align-self: center;

    h1{
        @include font($font: 'font-3', $list: $violets, $color: '900', $size: 50px,  $height: 58px, $spacing: 0px, $weight: 400);
    }

    p {
        text-align: center;
    }
}