@import '../mixins.scss';

.headline {
    height: auto;
    // width: min(760px, 100%);
    @include flex($direction: column, $justify: flex-start, $gap: 15px, $align: flex-start);

    h2 {
        color: #2E2B36;
        @include font($size: 36px, $height: 44px, $weight: 600);
    }

    p {
        color: #474747;
        @include font($size: 16px);
    }

    .tagline {
        width: auto;
        border-left: 3px solid #663BFF;
        border-radius: 4px;
        @include flex($justify: center);
        background-color: #F2F0FF;
        padding: 6px 12px;

        label {
            color: #663BFF;
            text-transform: uppercase;
            @include font($size: small, $weight: 500);
        }
    }
}