@import "../mixins.scss";

section {
    @include flex($justify: center,
        $align: center,
        $direction: column,
        $gap: 50px);
    padding: 0px 150px;
    align-self: stretch;

    @include large-screen() {
        padding: 0px 75px;
    }

    @include mid-screen() {
        padding: 0px 50px;
    }

    @include small-screen() {
        padding: 0px 30px;
    }
}